div{
    color: red;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 333px;
    height: 333px;
}

.btn {
    width: 111px;
    height: 111px;
    box-sizing: border-box;
    border: 1px solid purple;
    font-size: 40px;
    text-align: center;
    line-height: 111px;
}

.btn:hover {
    cursor: pointer;
}

.winner-box{
    width: 333px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}